<div>
    <mat-grid-list cols="2" *ngIf="!openedChest else opened">
        <mat-grid-tile *ngFor="let chest of chestList">
            {{chest.value}}
            <div class="flex-view">
                <app-action-button [actionName]="'Open'" (click)="open(chest.value)"></app-action-button>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #opened>
  <div class="flex-view">
    <div>{{openedChest?.value}}</div>
    <div>Reward: {{!!amount ? amount : ''}} {{reward}}</div>
    <app-action-button [actionName]="'Back'" (click)="back()"></app-action-button>
  </div>
</ng-template>
